* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: black;
  left: -200px;
  z-index: 100;
  font-weight: bold;
}

#sidebar.unhide {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 30px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

p {
  text-align: center;
}

#logo-title {
  right: 0px;
  padding-bottom: 100px;
}

.pokelist {
  font-weight: bold;
}

.spriteimgs {
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.spriteimgs:hover {
  background-size: 0 3px, 100% 3px;
  transform: scale(2);
  transition-duration: 1s;
}

li {
  display: flex;
  align-items: center;
  font-style: none;
}

#backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#pokeall {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(/pokeballcrop.png);
  background-size: cover;
  height: 500px;
  width: 500px;
  border-radius: 360%;
  animation: rotation 100000ms infinite linear;
  box-shadow: 10px 10px 5px rgb(14, 14, 14);
  -moz-box-shadow: 10px 10px 5px rgb(29, 28, 28);
  -webkit-box-shadow: 10px 10px 5px rgb(18, 17, 17);
  -khtml-box-shadow: 10px 10px 5px rgb(14, 13, 13);
  border-radius: 1000px;
}
#pokeMon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}
img.pokePhoto {
  display: flex;
  position: relative;
  width: 50%;
  margin: 10%;
}

body {
  font-family: Courier;
}

.buttonsection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gen {
  background-color: #222;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  max-width: none;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

.gen:hover,
.gen:focus {
  opacity: 0.75;
}
