* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: black;
  left: -200px;
  z-index: 100;
  font-weight: bold;
  transition: all 500ms linear;
}

#sidebar.unhide {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 30px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(14, 14, 14);
  -moz-box-shadow: 1px 1px 1px rgb(29, 28, 28);
  -webkit-box-shadow: 1px 1px 1px rgb(18, 17, 17);
  -khtml-box-shadow: 1px 1px 1px rgb(14, 13, 13);
}

#sidebar2 {
  position: fixed;
  width: 200px;
  height: 100%;
  background: black;
  right: -200px;
  z-index: 100;
  font-weight: bold;
  transition: all 500ms linear;
}

#sidebar2.unhide {
  right: 0px;
}

#sidebar2 ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar2 .toggle-btn {
  position: absolute;
  left: 230px;
  top: 30px;
}

#sidebar2 .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.maincontainer {
}

p {
  text-align: center;
}

#logo-title {
  padding-bottom: 80px;
  text-align: center;
}

.pokelist {
  font-weight: bold;
}

.spriteimgsOne {
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.spriteimgsOne:hover {
  background-size: 0 3px, 100% 3px;
  transform: scale(2);
  transition-duration: 1s;
}

.spriteimgsTwo {
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.spriteimgsTwo:hover {
  background-size: 0 3px, 100% 3px;
  transform: scale(2);
  transition-duration: 1s;
}

li {
  display: flex;
  align-items: center;
}

#backdrop {
  display: flex;
  background-image: url("pokeballcrop.png");
  background-size: cover;
  height: 500px;
  width: 500px;
  animation: rotation 100s infinite linear;
  transition: all 500ms linear;
  justify-content: center;
}

#pokeall {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#pokeMonOne {
  z-index: 10;
}

#pokeMonTwo {
  z-index: 10;
}

.p1p {
  height: 200px;
  width: 200px;
  transform: scaleX(-1);
  display: none;
  transition: all 500ms linear;
}
.p2p {
  height: 200px;
  width: 200px;
  display: none;
  transition: all 500ms linear;
}

.p1Dead {
  transform: rotate(90deg);
  opacity: 0.7;
  transition: all 500ms linear;
  height: 200px;
  width: 200px;
}

.p2Dead {
  transform: rotate(90deg);
  opacity: 0.7;
}

body {
  background-image: url("z7_wYb9-YSvt0pDJlDIu8iuK_aWdqZPg0wvrGdwNvBw.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.buttonsection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #222;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  user-select: none;
}

button:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.leftbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bottomleftbox {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 300px;
  width: 200px;
  border: 3px solid black;
  box-shadow: 3px 3px 3px rgb(14, 14, 14);
  -moz-box-shadow: 3px 3px 3px rgb(29, 28, 28);
  -webkit-box-shadow: 3px 3px 3px rgb(18, 17, 17);
  -khtml-box-shadow: 3px 3px 3px rgb(14, 13, 13);
}

.bottomrightbox {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 300px;
  width: 200px;
  border: 3px solid black;
  box-shadow: 3px 3px 3px rgb(14, 14, 14);
  -moz-box-shadow: 3px 3px 3px rgb(29, 28, 28);
  -webkit-box-shadow: 3px 3px 3px rgb(18, 17, 17);
  -khtml-box-shadow: 3px 3px 3px rgb(14, 13, 13);
}

.leftImage {
  height: 400px;
  position: relative;
  top: -50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.rightImage {
  height: 400px;
  position: relative;
  top: -50px;
}

.p1title {
  position: relative;
  bottom: -170px;
  font-size: 24px;
  border: 3px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(14, 14, 14);
  -moz-box-shadow: 3px 3px 3px rgb(29, 28, 28);
  -webkit-box-shadow: 3px 3px 3px rgb(18, 17, 17);
  -khtml-box-shadow: 3px 3px 3px rgb(14, 13, 13);
  padding: 8px;
}

.p2title {
  position: relative;
  bottom: -170px;
  font-size: 24px;
  border: 3px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(14, 14, 14);
  -moz-box-shadow: 3px 3px 3px rgb(29, 28, 28);
  -webkit-box-shadow: 3px 3px 3px rgb(18, 17, 17);
  -khtml-box-shadow: 3px 3px 3px rgb(14, 13, 13);
  padding: 8px;
}

#centerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.centerIcon {
  height: 200px;
  z-index: 100;
  transition: all 500ms linear;
}

.centerIcon:hover {
  transform: scale(1.5);
  transition-duration: 1.5s;
}

.p1:hover {
  transform: scale(1.5);
  transition-duration: 1.5s;
}

.attacks {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
  cursor: pointer;
  text-align: center;
  display: none;
  transition-duration: 1.5s;
}

p {
  border: 5px solid black;
  width: 172px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #151719;
  color: white;
}

.p2:hover {
  transform: scale(1.5);
  transition-duration: 1.5s;
}

#p1Health {
  display: none;
  transition-duration: 1.5s;
}

#p2Health {
  display: none;
  transition-duration: 1.5s;
}

.chosenOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newGame {
  display: none;
}
